
@{
    ViewBag.Title = "AllHotels";
}
    <div class="container">
        <div class="row my-5">

            <div class="col-4">
                <img src="~/images/search.jpg" height="250" />
            </div>
            <div class="col-6 text-center">
                <h2 class="my-2">Name Of Hotel</h2>
                <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
                <a class="btn btn-danger">Reserver</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <img src="~/images/search.jpg" height="250" />
            </div>
            <div class="col-6 text-center">
                <h2 class="my-2">Name Of Hotel</h2>
                <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
                <a class="btn btn-danger">Reserver</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <img src="~/images/search.jpg" height="250" />
            </div>
            <div class="col-6 text-center">
                <h2 class="my-2">Name Of Hotel</h2>
                <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
                <a class="btn btn-danger">Check it out</a>
            </div>
        </div>
</div>