/*
    light blue #e9f1fa
    bright blue #00abe4
    white ffffff
    main #d12013
*/
.color-primary {
   background-color: #d12013;
}
.btn-red {
    background-color: #d12013;
    color:white;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}
.btn-red:hover {
        color: aliceblue;
        background-color: #e33c30;
}
.text-red {
    color: #d12013;
}
.color-secondary {
    background-color : green;
}
.no-marker {
    list-style-type: none;
}
.no-color {
    text-decoration: none !important;
    color: black;
    transition: color ease-in-out 0.3s;
}
    .no-color:hover {
        color: #d12013;
    }
.searchh {
    background-image: url("../images/search.jpg");
    background-repeat: no-repeat;
    height: 35vh;
    background-size: 100% 100%;
}
.first {
    background-image: url("../images/vacabetter.jpeg");
    background-repeat: no-repeat;
    height: 25vh;
    background-size: 100% 100%;
}
.plan {
    background-color: #E4CCE1;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.newback{
    background-color:lightgray;
}



