@model IEnumerable<GestHot.Models.Favorite>

@{
    ViewBag.Title = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model.Count() == 0)
    {
        <h5 class="text-center text-uppercase my-5">No favorites Available now.</h5>
    }

    @foreach (var item in Model)
    {

        <div class="col-sm-6 mx-4">
            <div class="card my-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/images/search.jpg" class="img-thumbnail" />
                        </div>
                        <div class="col-sm-8">

                            <h2 class="my-2">
                                <h4 class="no-color">
                                    @Html.DisplayFor(modelItem => item.Hotel.name)
                                </h4>

                            </h2>

                            <h4>@Html.DisplayFor(modelItem => item.Hotel.adresse)</h4>
                            <p>@Html.DisplayFor(modelItem => item.Hotel.description)</p>
                            @Html.ActionLink("Reserve now", "Details", "Hotel", new { id = item.idH }, new { @class = "btn btn-red" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>