@model IEnumerable<GestHot.Models.Reservation>

@{
    ViewBag.Title = "Reservation";
}

<div class="container">
    <div class="row my-5">
        <h2 class="text-red">My Reservations</h2>
    </div>
    <div class="row my-3">
        <table class="table">
            <tr>
                <th>
                    <h4>Start Date</h4>
                </th>
                <th>
                    <h4>End Date</h4>
                </th>
                <th>
                    <h4>Hotel Name</h4>
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.startR).ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Convert.ToDateTime(item.endR).ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.name)
                    </td>
                    
                </tr>
            }

        </table>
    </div>
</div>